
<div class="Container">

  <!-- Componente del modulo ngx-ui-switch que utilizamos para elegir el tipo de usuario para crear la cuenta-->
  <ui-switch class="float-right mt-1 pr-2 mr-5" [ngModel]="switch1" (ngModelChange)="manualUpdateEvent($event)" checkedLabel="Alumno"
  uncheckedLabel="Profesor" size="large" checkedTextColor="white"></ui-switch>

  <!-- Formulario Alumno -->
  <div *ngIf="switch1 == true" class="rounded mt-5 mr-5 ml-5">
    <form [formGroup]="Alumno" class="pt-3 pb-1 pl-4 pr-4 rounded color_form">
      <!-- Nick -->
      <div class="form-group">
        <p class="text-light">Nick</p>
        <input type="text" placeholder="Entra tu nick" formControlName="nick_a" class="form-control"
          [ngClass]="{'is-invalid': submitted1 && A.nick_a.errors}" >

        <div *ngIf="submitted1 && A.nick_a.errors" class="invalid-feedback">
          <div *ngIf="A.nick_a.errors.required">El campo Nick esta vacio!!</div>
        </div>
      </div>

      <!-- Correo -->
      <div class="form-group">
        <label class="text-light">Correo</label>
        <input type="text" placeholder="Entra tu correo" formControlName="correo_a" class="form-control"
          [ngClass]="{'is-invalid': submitted1 && A.correo_a.errors}">

        <div *ngIf="submitted1 && A.correo_a.errors" class="invalid-feedback">
          <div *ngIf="A.correo_a.errors.required">El campo de Correo esta Vacio</div>
          <div *ngIf="A.correo_a.errors.email">Escribe correctamente el Correo</div>
        </div>
      </div>

      <!-- Contraseña -->
      <div class="form-group">
        <label class="text-light">Contraseña</label>
        <input type="password" placeholder="Entra tu contraseña" formControlName="cont_a" class="form-control"
          [ngClass]="{'is-invalid': submitted1 && A.cont_a.errors}">

        <div *ngIf="submitted1 && A.cont_a.errors" class="invalid-feedback">
          <div *ngIf="A.cont_a.errors.required">El campo Contraseña esta vacio!!</div>
        </div>
      </div>

      <!-- Nombre -->
      <div class="form-group">
        <label class="text-light">Nombre</label>
        <input type="text" placeholder="Entra tu nombre" formControlName="nombre_a" class="form-control"
          [ngClass]="{'is-invalid': submitted1 && A.nombre_a.errors}">

        <div *ngIf="submitted1 && A.nombre_a.errors" class="invalid-feedback">
          <div *ngIf="A.nombre_a.errors.required">El campo nombre esta vacio!!</div>
        </div>
      </div>

      <!-- Apellido -->
      <div class="form-group">
        <label class="text-light">Apellido</label>
        <input type="text" placeholder="Entra tus apellidos" formControlName="apell_a" class="form-control"
          [ngClass]="{'is-invalid': submitted1 && A.apell_a.errors}">

        <div *ngIf="submitted1 && A.apell_a.errors" class="invalid-feedback">
          <div *ngIf="A.apell_a.errors.required">El campo Apellido esta vacio!!</div>
        </div>
      </div>

      <!-- Curso -->
      <div class="form-group">
        <label class="text-light">Curso</label>
        <select class="form-control" formControlName="curso"
        [ngClass]="{'is-invalid': submitted1 && A.curso.errors}">
          <option>Daw1</option>
          <option>Daw2</option>
          <option>Dam1</option>
          <option>Dam2</option>
        </select>

        <div *ngIf="submitted1 && A.curso.errors" class="invalid-feedback">
          <div *ngIf="A.curso.errors.required">El campo Curso esta vacio!!</div>
        </div>
      </div>

      <!-- Imagen -->
      <div class="form-group custom-file mt-3 mb-3">
        <label class="custom-file-label" for="img">Selecciona una Imagen</label>
        <input type="file" class="custom-file-input form-control" formControlName="img"
        [ngClass]="{'is-invalid': submitted1 && A.img.errors}">

        <div *ngIf="submitted1 && A.img.errors" class="invalid-feedback">
          <div *ngIf="A.img.errors.required">No has selecionado una Imagen!!</div>
        </div>
      </div>

      <!-- Botton del formulario de Alumno -->
      <div class="form-group">
        <button type="submit" class="btn btn-light text-dark mt-3" (click)="comp_Alum()">Crear</button>
      </div>
    </form>
  </div>


  <!-- Formulario Profesor -->
  <div *ngIf="switch1 == false" class="rounded mt-5 mr-5 ml-5">
    <form [formGroup]="Profesor" class="pt-3 pb-1 pl-4 pr-4 rounded color_form" method="POST">
      <!-- Nick Professor -->
      <div class="form-group">
        <p class="text-light">Nick</p>
        <input type="text" placeholder="Entra tu nick" formControlName="nick_p" class="form-control"
          [ngClass]="{'is-invalid': submitted2 && P.nick_p.errors}">

        <div *ngIf="submitted2 && P.nick_p.errors" class="invalid-feedback">
          <div *ngIf="P.nick_p.errors.required"> El campo Nick esta vacio!!</div>
        </div>
      </div>

      <!-- Correo Professor -->
      <div class="form-group">
        <label class="text-light">Correo</label>
        <input type="text" placeholder="Entra tu correo" formControlName="correo_p" class="form-control"
          [ngClass]="{'is-invalid': submitted2 && P.correo_p.errors}">

        <div *ngIf="submitted2 && P.correo_p.errors" class="invalid-feedback">
          <div *ngIf="P.correo_p.errors.required"> El campo de Correo esta Vacio</div>
          <div *ngIf="P.correo_p.errors.email"> Escribe correctamente el Correo</div>
        </div>
      </div>

      <!-- Contraseña Professor -->
      <div class="form-group">
        <label class="text-light">Contraseña</label>
        <input type="password" placeholder="Entra tu contraseña" formControlName="cont_p" class="form-control"
          [ngClass]="{'is-invalid': submitted2 && P.cont_p.errors}">

        <div *ngIf="submitted2 && P.cont_p.errors" class="invalid-feedback">
          <div *ngIf="P.cont_p.errors.required"> El campo Contraseña esta vacio!!</div>
        </div>
      </div>

      <!-- Nombre Professor -->
      <div class="form-group">
        <label class="text-light">Nombre</label>
        <input type="text" placeholder="Entra tu nombre" formControlName="nombre_p" class="form-control"
          [ngClass]="{'is-invalid': submitted2 && P.nombre_p.errors}">

        <div *ngIf="submitted2 && P.nombre_p.errors" class="invalid-feedback">
          <div *ngIf="P.nombre_p.errors.required"> El campo Nombre esta vacio!!</div>
        </div>
      </div>

      <!-- Apellido Professor -->
      <div class="form-group">
        <label class="text-light">Apellido</label>
        <input type="text" placeholder="Entra tus apellidos" formControlName="apell_p" class="form-control"
          [ngClass]="{'is-invalid': submitted2 && P.apell_p.errors}">

        <div *ngIf="submitted2 && P.apell_p.errors" class="invalid-feedback">
          <div *ngIf="P.apell_p.errors.required"> El campo Apellido esta vacio!!</div>
        </div>
      </div>

      <!-- Centro Professor -->
      <div class="form-group">
        <label class="text-light">Centro</label>
        <input type="text" placeholder="Entra tus apellidos" formControlName="centro" class="form-control"
          [ngClass]="{'is-invalid': submitted2 && P.centro.errors}">

        <div *ngIf="submitted2 && P.centro.errors" class="invalid-feedback">
          <div *ngIf="P.centro.errors.required"> El campo Centro esta vacio!!</div>
        </div>
      </div>

      <!-- Imagen
      <div class="form-group custom-file mt-3 mb-3">
        <label class="custom-file-label" for="img">Selecciona una Imagen</label>
        <input type="file" class="custom-file-input form-control" formControlName="img"
        [ngClass]="{'is-invalid': submitted2 && P.img.errors}">

        <div *ngIf="submitted2 && P.img.errors" class="invalid-feedback">
          <div *ngIf="P.img.errors.required">No has selecionado una Imagen!!</div>
        </div>
      </div>-->

      <!-- Botton del formulario de Profesor -->
      <div class="form-group">
        <button type="submit" class="btn btn-light text-dark mt-3" (click)="comp_Prof()">Crear</button>
      </div>
    </form>
  </div>

</div>
