
<div class="Container">

  <!-- Componente del modulo ngx-ui-switch que utilizamos para elegir el tipo de usuario para crear la cuenta-->
  <ui-switch class="float-right mt-1 pr-2 mr-5" [ngModel]="switch_user" (ngModelChange)="manualUpdateEvent($event)" checkedLabel="Alumno"
  checkedLabel="Alumno" uncheckedLabel="Profesor" size="large" defaultBgColor="#07d8e3"
    color="#FFFFFF"  uncheckedTextColor="white"></ui-switch>

  <!-- Formulario Alumno -->
  <div *ngIf="switch_user == true" class="rounded mt-5 mr-5 ml-5">
    <form [formGroup]="Alumno" (ngSubmit)="Comprobador()" class="pt-3 pb-1 pl-4 pr-4 rounded color_form">
      <!-- Nick -->
      <div class="form-group">
        <p class="text-light">Nick</p>
        <input type="text" placeholder="Entra tu nick" [(ngModel)]="alumno.nick"  formControlName="nick_a" class="form-control"
          [ngClass]="{'is-invalid': A.nick_a.touched && A.nick_a.errors}" >

        <div *ngIf="A.nick_a.touched && A.nick_a.errors" class="invalid-feedback">
          <div *ngIf="A.nick_a.errors.required">El campo Nick esta vacio!!</div>
          <div *ngIf= "A.nick_a.errors.pattern"> Solo se admiten letras , numeros y barras bajas</div>
        </div>
      </div>

      <!-- Correo -->
      <div class="form-group">
        <label class="text-light">Correo</label>
        <input type="text" placeholder="Entra tu correo" [(ngModel)]="alumno.correo"  formControlName="correo_a" class="form-control"
          [ngClass]="{'is-invalid': A.correo_a.touched && A.correo_a.errors}">

        <div *ngIf="A.correo_a.touched && A.correo_a.errors" class="invalid-feedback">
          <div *ngIf="A.correo_a.errors.required">El campo de Correo esta Vacio</div>
          <div *ngIf="A.correo_a.errors.email">Escribe correctamente el Correo</div>
        </div>
      </div>

      <!-- Contraseña -->
      <div class="form-group">
        <label class="text-light">Contraseña</label>
        <input type="password" placeholder="Entra tu contraseña" formControlName="cont_a" class="form-control"
          [ngClass]="{'is-invalid': A.cont_a.touched && A.cont_a.errors}">

        <div *ngIf="A.cont_a.touched && A.cont_a.errors" class="invalid-feedback">
          <div *ngIf="A.cont_a.errors.required">El campo Contraseña esta vacio!!</div>
        </div>
      </div>

      <!-- Contraseña repetida Alumno -->
      <div class="form-group">
        <label class="text-light">Repite la Contraseña</label>
        <input type="password" placeholder="Repite tu contraseña" [(ngModel)]="alumno.password" formControlName="rep_cont_a" class="form-control"
          [ngClass]="{'is-invalid': A.rep_cont_a.touched && A.rep_cont_a.errors}">

        <div *ngIf="A.rep_cont_a.touched && A.rep_cont_a.errors" class="invalid-feedback">
          <div *ngIf="A.rep_cont_a.errors.required"> El campo Contraseña  esta vacio!!</div>
          <div *ngIf= "A.rep_cont_a.errors.Comprobacion"> La contraseña no coincide</div>
        </div>
      </div>

      <!-- Nombre -->
      <div class="form-group">
        <label class="text-light">Nombre</label>
        <input type="text" placeholder="Entra tu nombre" [(ngModel)]="alumno.nombre"  formControlName="nombre_a" class="form-control"
          [ngClass]="{'is-invalid': A.nombre_a.touched && A.nombre_a.errors}">

        <div *ngIf="A.nombre_a.touched && A.nombre_a.errors" class="invalid-feedback">
          <div *ngIf="A.nombre_a.errors.required">El campo nombre esta vacio!!</div>
        </div>
      </div>

      <!-- Apellido -->
      <div class="form-group">
        <label class="text-light">Apellido</label>
        <input type="text" placeholder="Entra tus apellidos" [(ngModel)]="alumno.apellido"  formControlName="apell_a" class="form-control"
          [ngClass]="{'is-invalid': A.apell_a.touched && A.apell_a.errors}">

        <div *ngIf="A.apell_a.touched && A.apell_a.errors" class="invalid-feedback">
          <div *ngIf="A.apell_a.errors.required">El campo Apellido esta vacio!!</div>
        </div>
      </div>

      <!-- Curso -->
      <div class="form-group">
        <label class="text-light">Curso</label>
        <select class="form-control" [(ngModel)]="alumno.curso"  formControlName="curso"
        [ngClass]="{'is-invalid': A.curso.touched && A.curso.errors}">
          <option>Daw1</option>
          <option>Daw2</option>
          <option>Dam1</option>
          <option>Dam2</option>
        </select>

        <div *ngIf="A.curso.touched && A.curso.errors" class="invalid-feedback">
          <div *ngIf="A.curso.errors.required">El campo Curso esta vacio!!</div>
        </div>
      </div>

      <!-- Imagen -->
      <div class="form-group custom-file mt-3 mb-3">
        <label class="custom-file-label" for="img">Selecciona una Imagen</label>
        <input type="file"[(ngModel)]="alumno.img"  class="custom-file-input form-control" formControlName="img"
        [ngClass]="{'is-invalid': A.img.touched && A.img.errors}">

        <div *ngIf="A.img.touched && A.img.errors" class="invalid-feedback">
          <div *ngIf="A.img.errors.required">No has selecionado una Imagen!!</div>
        </div>
      </div>

      <!-- Botton del formulario de Alumno -->
      <div class="form-group">
        <button type="submit" [disabled]="Alumno.invalid" class="btn btn-light text-dark mt-3 mr-4">Crear</button>
        <button type="button" (click)="gotoLogin()" class="btn btn-light text-dark mt-3">Volver</button>
      </div>

    </form>
  </div>


  <!-- Formulario Profesor  -->
  <div *ngIf="switch_user == false" class="rounded mt-5 mr-5 ml-5">

    <form [formGroup]="Profesor" (ngSubmit)="Comprobador()" class="pt-3 pb-1 pl-4 pr-4 rounded color_form" method="POST">
      <!-- Nick Professor -->
      <div class="form-group">
        <p class="text-light">Nick</p>
        <input type="text" placeholder="Entra tu nick"  [(ngModel)]="user.nick" formControlName="nick_p" class="form-control"
          [ngClass]="{'is-invalid': P.nick_p.touched && P.nick_p.errors}">

        <div *ngIf="P.nick_p.touched && P.nick_p.errors" class="invalid-feedback">
          <div *ngIf="P.nick_p.errors.required"> El campo Nick esta vacio!!</div>
          <div *ngIf= "P.nick_p.errors.pattern"> Solo se admiten letras , numeros y barras bajas</div>
        </div>
      </div>

      <!-- Correo Professor -->
      <div class="form-group">
        <label class="text-light">Correo</label>
        <input type="text" placeholder="Entra tu correo" [(ngModel)]="user.correo" formControlName="correo_p" class="form-control"
          [ngClass]="{'is-invalid': P.correo_p.touched && P.correo_p.errors}">

        <div *ngIf="P.correo_p.touched && P.correo_p.errors" class="invalid-feedback">
          <div *ngIf="P.correo_p.errors.required"> El campo de Correo esta Vacio</div>
          <div *ngIf="P.correo_p.errors.email"> Escribe correctamente el Correo</div>
        </div>
      </div>

      <!-- Contraseña Professor -->
      <div class="form-group">
        <label class="text-light">Contraseña</label>
        <input type="text" placeholder="Entra tu contraseña" formControlName="cont_p" class="form-control"
          [ngClass]="{'is-invalid': P.cont_p.touched && P.cont_p.errors}">

        <div *ngIf="P.cont_p.touched && P.cont_p.errors" class="invalid-feedback">
          <div *ngIf="P.cont_p.errors.required"> El campo Contraseña esta vacio!!</div>
        </div>
      </div>

      <!-- Contraseña repetida Professor -->
      <div class="form-group">
        <label class="text-light">Repite la Contraseña</label>
        <input type="password" placeholder="Repite tu contraseña" [(ngModel)]="user.password" formControlName="rep_cont_p" class="form-control"
          [ngClass]="{'is-invalid': P.rep_cont_p.touched && P.rep_cont_p.errors}">

        <div *ngIf="P.rep_cont_p.touched && P.rep_cont_p.errors" class="invalid-feedback">
          <div *ngIf="P.rep_cont_p.errors.required"> El campo Contraseña  esta vacio!!</div>
          <div *ngIf= "P.rep_cont_p.errors.Comprobacion"> La contraseña no coincide</div>
        </div>
      </div>

      <!-- Nombre Professor -->
      <div class="form-group">
        <label class="text-light">Nombre</label>
        <input type="text" placeholder="Entra tu nombre" [(ngModel)]="user.nombre" formControlName="nombre_p" class="form-control"
          [ngClass]="{'is-invalid': P.nombre_p.touched && P.nombre_p.errors}">

        <div *ngIf="P.nombre_p.touched && P.nombre_p.errors" class="invalid-feedback">
          <div *ngIf="P.nombre_p.errors.required"> El campo Nombre esta vacio!!</div>
        </div>
      </div>

      <!-- Apellido Professor -->
      <div class="form-group">
        <label class="text-light">Apellido</label>
        <input type="text" placeholder="Entra tus apellidos" [(ngModel)]="user.apellido" formControlName="apell_p" class="form-control"
          [ngClass]="{'is-invalid': P.apell_p.touched && P.apell_p.errors}">

        <div *ngIf="P.apell_p.touched && P.apell_p.errors" class="invalid-feedback">
          <div *ngIf="P.apell_p.errors.required"> El campo Apellido esta vacio!!</div>
        </div>
      </div>

      <!-- Centro Professor -->
      <div class="form-group">
        <label class="text-light">Centro</label>
        <input type="text" placeholder="Seleciona tu centro" [(ngModel)]="user.centro" formControlName="centro" class="form-control"
          [ngClass]="{'is-invalid': P.centro.touched && P.centro.errors}">

        <div *ngIf="P.centro.touched && P.centro.errors" class="invalid-feedback">
          <div *ngIf="P.centro.errors.required"> El campo Centro esta vacio!!</div>
        </div>
      </div>

      <!-- Imagen -->
      <div class="form-group custom-file mt-3 mb-3">
        <label class="custom-file-label" for="img">Selecciona una Imagen</label>
        <input type="file" class="custom-file-input form-control" formControlName="img"
        [ngClass]="{'is-invalid': P.img.touched && P.img.errors}">

        <div *ngIf="P.img.touched && P.img.errors" class="invalid-feedback">
          <div *ngIf="P.img.errors.required">No has selecionado una Imagen!!</div>
        </div>
      </div>

      <!-- Botton del formulario de Profesor -->
      <div class="form-group">
        <button type="submit" [disabled]="Profesor.invalid" class="btn btn-light text-dark mt-3 mr-4">Crear</button>
        <button type="button" (click)="gotoLogin()" class="btn btn-light text-dark mt-3">Volver</button>
      </div>
    </form>
  </div>

</div>
