.img_perfil{
  background-color: white;
  max-height: 120px;
}

.Marco{
    background: rgba(0, 0, 0, 0.693);
    border-radius: 5px;
}

.scroll-height{
  max-height: 85vh;
}

.posi{
  margin: auto;
  width: 70%;
  margin-bottom: 15px;
}

p.lema{
  margin-top: 32%;
  text-align: center;
  font-size: 400%;
}
