<app-header></app-header>

<div class="container-fluid mt-5">

  <div class="row mb-1" *ngIf='ModoCambio == "Perfil"'>

    <!-- Columna Izquierda -->
    <div class="col mt-3">

      <!-- Imagen y Nick-->
      <div *ngIf="Tipo == true" class="card mt-4 mb-3 pt-4 pb-2 text-white align-items-center text-center Marco">

        <div class="card-header">
          <img src="/assets/img/default_img.png" class="rounded-circle white img_perfil">
        </div>

        <div class="card-body">
          <h4 class="card-title">Nick: {{usuario.nick}}</h4>
          <p class="card-text">{{tipo_Usuario}}</p>
        </div>

      </div>

      <div *ngIf="Tipo == false" class="card mt-4 mb-3 pt-4 pb-2 text-white align-items-center text-center Marco">

        <div class="card-header">

          <img src="/assets/img/default_img.png" class="rounded-circle white img_perfil">


        </div>

        <div class="card-body">
          <h4 class="card-title">Nick: {{usuario.nick}}</h4>
          <p class="card-text">{{tipo_Usuario}}</p>
        </div>

      </div>

      <!-- Datos de Perfil -->
      <div *ngIf="Tipo == true" class="card text-white Marco">

        <table class="table table-borderless text-light posi">
          <tr>
            <th>Nombre:</th>
            <td>{{usuario.nombre}}</td>
          </tr>
          <tr>
            <th>Apellidos:</th>
            <td>{{usuario.apellido}}</td>
          </tr>
          <tr>
            <th>Email:</th>
            <td>{{usuario.email}}</td>
          </tr>
          <tr>
            <th>Centro:</th>
            <td>{{usuario.centro}}</td>
          </tr>
          <tr>
            <td><button class="btn btn-light mt-n2 mb-n2" (click)='Cambiar_Opcion("Datos")' type="button">Cambiar Datos
              </button></td>
            <td><button class="btn btn-light mt-n2 mb-n2" (click)='Cambiar_Opcion("Contra")' type="button">Cambiar
                Contraseña
              </button></td>
          </tr>
        </table>

      </div>

      <div *ngIf="Tipo == false" class="card text-white Marco">

        <table class="table table-borderless text-light posi mt-1">
          <tr>
            <th>Nombre:</th>
            <td>{{usuario.nombre}}</td>
          </tr>
          <tr>
            <th>Apellidos:</th>
            <td>{{usuario.apellido}}</td>
          </tr>
          <tr>
            <th>Email:</th>
            <td>{{usuario.email}}</td>
          </tr>
          <tr>
            <th>Curso:</th>
            <td>{{usuario.curso}}</td>
          </tr>
          <tr>
            <td><button class="btn btn-light mt-2" (click)='Cambiar_Opcion("Contra")' type="button">Cambiar
                Contraseña
              </button>
            </td>
            <td><button class="btn btn-light mt-2" (click)='Cambiar_Opcion("Datos")' type="button">Cambiar Datos
              </button>
            </td>
          </tr>
        </table>

        <div class="input-group mb-4 pr-5 pl-5">
          <div class="input-group-prepend">
            <button class="btn btn-outline-light" (click)='comprobarRanking(codigoRanking.value,usuario.apellido)'
              type="button">Codigo ranking</button>
          </div>
          <input class="form-control" type="text" #codigoRanking>
        </div>
      </div>

    </div>

    <!-- Columna Derecha -->
    <div class="col pt-4 mt-3">

      <div *ngIf="Tipo == true"
        class="text-white align-items-center text-center pt-3 pb-3 pre-scrollable Marco scroll-height">

        <!-- Lista de ranking creados -->
        <div class="list-group rounded mr-3 ml-3">
          <a *ngFor="let Alumno of Alumnos" class="list-group-item list-group-item-action text-center p-4 bg-light">
            <strong>{{usuario.nick}}</strong></a>
        </div>

      </div>

      <div *ngIf="Tipo == false"
        class="text-white align-items-center text-center pt-3 pb-3 pre-scrollable Marco scroll-height" >
        <!-- Lista de ranking creados -->
        <div  class="list-group rounded mr-3 ml-3" *ngFor="let ranking of datosRanking">
        <strong>Nombre: {{ranking.nombre}}</strong>
        <strong>fghfhgj</strong>
        </div>
      </div>
    </div>
  </div>


  <div class="d-flex justify-content-center pt-5" *ngIf='ModoCambio == "Datos"'>
    <app-actualizar></app-actualizar>
  </div>

  <div class="d-flex justify-content-center pt-5" *ngIf='ModoCambio == "Contra"'>
    <app-contra></app-contra>
  </div>


</div>
