
<div class="container-fluid">

  <form class="form mt-5" method="POST" >

    <div class="form-group col-md-10">
      <label class="text-light">Nick</label>
      <input type="text" placeholder="Entra tu Nick" [(ngModel)]="user.nick" name="nick" class="form-control"
      [ngClass]="{'is-invalid': submitted && U.nick.errors}">

      <div *ngIf="submitted && U.nick.errors" class="invalid-feedback">
        <div *ngIf="U.nick.errors.required">El campo Nick esta vacio!!</div>
      </div>
    </div>

    <div class="form-group col-md-10">
      <label for="exampleInputPassword1">Contraseña</label>
      <input type="password" placeholder="Entra tu Contraseña" [(ngModel)]="user.password" name="password" class="form-control"
      [ngClass]="{'is-invalid': submitted && U.cont.errors}">

      <div *ngIf="submitted && U.cont.errors" class="invalid-feedback">
        <div *ngIf="U.cont.errors.required">El campo Contraseña esta vacio!!</div>
      </div>
    </div>

    <button type="button" (click)="loginUsuario()" class="btn btn-light text-dark mt-3">Enviar!</button>

  </form>

</div>
