<app-header></app-header>

<div class="container-fluid mt-5">

  <!-- Profesor -->
  <div *ngIf="Tipo == true">

    <div *ngIf="ModoCambio==='RC'">
      <button type="button" (click)='Cambiar_Opcion("Crear")' class="btn btn-dark mt-5">Crear nuevo ranking</button>

      <div *ngIf="Rankings.length !=0">
        <table class="table table-dark pre-scrollable mt-3 table-striped rounded text-center">

          <thead>
            <tr>
              <th>Ranking</th>
              <th>Codigo</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let rank of ranking ;">
              <div class="Index"></div>
              <td>{{rank.nombre}}</td>
              <td>{{rank.codigo}}</td>
              <td><button type="button" (click)='Cambiar_Opcion("Ver")' class="btn btn-light">Ver Datos</button></td>
              <td><button type="button" (click)='Cambiar_Opcion("Modificar")' class="btn btn-light">Modificar</button>
              </td>
              <td><button type="button" (click)='BorrarRanking(rank.codigo)' class="btn btn-light">Borrar</button></td>
            </tr>
          </tbody>

        </table>
      </div>

      <div *ngIf="Rankings.length === 0">
        <h1 class="info">Aun no has creado ningun ranking</h1>
        <img class="inf_img mx-auto d-block mt-2" src="assets\img\rank.png">
      </div>
    </div>

    <div *ngIf="ModoCambio==='Crear'">
      <app-crear-ranking></app-crear-ranking>
    </div>

    <div *ngIf="ModoCambio==='Modificar'">
      <app-modificar-ranking></app-modificar-ranking>
    </div>

  </div>

  <!-- Alumno -->
  <div *ngIf="Tipo == false">
    <h1>Este componente no esta habilitado para alumnos!!</h1>
  </div>

</div>
