<div class="container-fluid">

  <button type="button" class="btn btn-dark mt-2">Crear nuevo ranking</button>

  <table class="table table-dark pre-scrollable mt-2 table-striped">

    <thead>
      <tr>
        <th>Nombre</th>
        <th>Estilo</th>
        <th>Equipos</th>
        <th>Borrar</th>
        <th>Modificar</th>
      </tr>
    </thead>

    <!-- <ui-switch [disabled]="true"></ui-switch> -->
    <tbody>
        <tr *ngFor="let Equipo of Lista_Equipos;index as i">
          <div class="Index">
            {{i+1}}
          </div>
          <td>{{Equipo.Nombre}}</td>
          <td>{{Equipo.Estilo}}</td>
          <td>
            <div *ngIf="Equipo.Equipos == true"><p>A</p></div>
            <div *ngIf="Equipo.Equipos == false"><p>B</p></div>
          </td>
          <td><button type="button" class="btn btn-light">Modificar</button></td>
          <td><button type="button" class="btn btn-light">Eliminar</button></td>
        </tr>
    </tbody>

  </table>

</div>
