<!--<div *ngIf="">
 Comprobar que hay registros en la Tabla Tarea que coincidan(si hay registros) </div>-->

<button type="button" (click)="UpdateCont()" class="btn btn-dark  mt-5">Atras</button>

<div class="btn-group float-right mt-5 mb-4">

  <button type="button" (click)=" anadirTarea()" class="btn btn-dark">Añadir Tarea</button>

  <div class="btn-group">

    <button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown">
      Seleccionar Tarea
    </button>

    <div class="dropdown-menu">
      <a class="nav-link active btn btn-link" (click)='NombreTarea("Tarea1")'>Tarea1</a>
      <a class="nav-link active btn btn-link" (click)='NombreTarea("Tarea2")'>Tarea2</a>
      <a class="nav-link active btn btn-link" (click)='NombreTarea("Tarea3")'>Tarea3</a>
      <a class="nav-link active btn btn-link" (click)='NombreTarea("Tarea4")'>Tarea4</a>
      <a class="nav-link active btn btn-link" (click)='NombreTarea("Tarea5")'>Tarea5</a>
      <a class="nav-link active btn btn-link" (click)='NombreTarea("Tarea6")'>Tarea6</a>
      <a class="nav-link active btn btn-link" (click)='NombreTarea("Tarea7")'>Tarea7</a>
      <a class="nav-link active btn btn-link" (click)='NombreTarea("Tarea8")'>Tarea8</a>
      <a class="nav-link active btn btn-link" (click)='NombreTarea("Tarea9")'>Tarea9</a>
      <a class="nav-link active btn btn-link" (click)='NombreTarea("Tarea10")'>Tarea10</a>
    </div>
  </div>

</div>

<div class="table-responsive">

  <table class="table table-dark table-striped rounded text-center">
    <thead>
      <tr>
        <th>Nombre </th>
        <th>Apellido</th>
        <th>{{tarea_Name}}</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of Usuario;">
        <div class="Index"></div>
        <td class="extra">{{usuario.Nombre}}</td>
        <td class="extra">{{usuario.Apellido}}</td>
        <td class="extra">{{usuario.Puntuacion}}</td>
        <td *ngIf="tarea_Name 'Puntuacion Total'">
          <input type="number" min="0" max="10" #nuevaPutuacion><br>
          <button type="button" class="btn btn-light mt-2"  (click)='modificarPuntuacion(nuevaPutuacion.value,usuario.Nombre)'>Modificar puntuacion</button></td>
      </tr>
    </tbody>
  </table>

</div>


<div *ngIf="isEmptyObject(Usuario)">
  <!-- Comprobar que hay registros en la Tabla Tarea que coincidan(no hay registros) -->
  <h1 class="info">Aun no hay alumnos</h1>
  <img class="inf_img mx-auto d-block mt-2" src="assets\img\rank.png">
</div>
