  <!--<div *ngIf="">
 Comprobar que hay registros en la Tabla Tarea que coincidan(si hay registros) </div>-->
  <div class="btn-group float-right mt-5 mb-4">

    <button type="button" class="btn btn-dark">Modificar Tarea</button>

    <div class="btn-group">

      <button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown">
        Seleccionar Tarea
      </button>

      <div class="dropdown-menu">
          <a class="nav-link active btn btn-link">Tarea 1</a>
      </div>
    </div>

  </div>

  <div class="table-responsive">

        <table class="table table-bordered table-dark table-striped rounded text-center">
          <thead>
            <tr>
              <th>Nombre </th>
              <th>Apellido</th>
              <th>Puntuacion Total</th>
            </tr>
          </thead>

        <tr *ngFor="let usuario of Usuario;">
          <div class="Index"></div>
          <td>{{usuario.Nombre}}</td>
          <td>{{usuario.Apellido}}</td>
          <td>{{usuario.PuntuacionTotal}}</td>

        </tr>
      </table>

  </div>


<div *ngIf="">
  <!-- Comprobar que hay registros en la Tabla Tarea que coincidan(no hay registros) -->
  <h1 class="info">Aun no hay alumnos</h1>
  <img class="inf_img mx-auto d-block mt-2" src="assets\img\rank.png">
</div>
