.info{
  margin-top: 15%;
  margin-left: 25%;
  width: 50%;
  text-align: center;
}

.inf_img{
  max-width: 220px;
  max-height: 220px;
}

.Index{
  display: none;
}

a{
  text-decoration: none;
  color: black;
}

a:hover{
  background-color: rgb(215, 141, 245);
  color: black;
}
